.bg-navy-blue{
	background-color: #2c3a4b;
}

.text-navy-blue{
	color: #2c3a4b;
}

.bg-brown{
/*	background-color: #a28848;*/
  background-color: #685629;
}

.text-brown{
	color: #a28848;
}

.text-brown1{
  color: #685629;
}

.text-indent-20 {
  text-indent: 20px;
}


.red-line {
  background:#FF4949;
  z-index:-1;
  width:1px;
  height:100%;
  position:absolute;
  left:15px;
}